@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, white, pink);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.767);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:coral;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2{
    color: rgb(192, 142, 171);
}

p{
    text-align: justify;
}

